.sideBar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
  padding: 10px;
}

.collapsed {
  width: var(--sidebar-width-collapse);
}

.switchers {
  bottom: 20px;
  left: 0;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
